@{
	var currentUrl = Url.ActionContext.HttpContext.Request.Path;
}
@model IEnumerable<ProductModel>
<style>
	.custom-img {
		width: 350px;
		height: 250px;
		object-fit: cover; 
	}
</style>
<!-- Start Modal for Cart -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="cartModalLabel">Your Cart</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="cart-items">
					<!-- Giỏ hàng sẽ được hiển thị tại đây -->
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<a href="@Url.Action("Index", "Cart")" class="btn btn-primary">View Cart</a>
			</div>
		</div>
	</div>
</div>
<!-- End Modal for Cart -->
<!-- Start Slider -->

@{
	var sliders = ViewBag.Sliders as IEnumerable<SliderModel>;
	Html.RenderPartial("Slider", sliders);
}
<!-- End Slider -->
<!-- Start Shop Page  -->
<div class="shop-box-inner">
	<div class="container">
		@Html.Partial("_NotificationPartial")
		<div class="row">
			<div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
				<div class="right-product-box">
					<div class="product-item-filter row">
						<div class="col-12 col-sm-8 text-center text-sm-left">
							<div class="toolbar-sorter-right">
								<span>Lọc</span>
								@{
									var currentSort = Context.Request.Query["sort_by"].ToString();
								}
								<select id="sort_by" class="selectpicker show-tick form-control" data-placeholder="$ USD">
								<option value="" selected=@(currentSort == "")>Không có</option>
									<!-- <option value="1">Popularity</option> -->
								<option value="price_desc" selected=@(currentSort == "price_desc")>Giá cao → Giá thấp</option>
								<option value="price_inc" selected=@(currentSort == "price_inc")>Giá thấp → Giá cao</option>
									<!-- <option value="4">Best Selling</option> -->
								</select>
							</div>
							<p>Hiển thị @Model.Count() sản phẩm</p>
						</div>
						<div class="col-12 col-sm-4 text-center text-sm-right">
							<ul class="nav nav-tabs ml-auto">
								<li>
									<a class="nav-link active" href="#grid-view" data-toggle="tab">
										<i class="fa fa-th"></i>
									</a>
								</li>
								<li>
									<a class="nav-link" href="#list-view" data-toggle="tab">
										<i class="fa fa-list-ul"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="product-categorie-box">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade show active" id="grid-view">
								<div class="row">
									@foreach (var item in Model)
									{
										<!-- Product item -->
										<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
											<div class="products-single fix">
												<div class="box-img-hover">
													<div class="type-lb">
														<p class="sale">Sale</p>
													</div>
													<img src="~/media/products/@item.Image" class="img-fluid custom-img" alt="@item.Name">
													<div class="mask-icon">
														<ul>
															<li>
																<a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="right"
																   title="View"><i class="fas fa-eye"></i></a>
															</li>
															
														</ul>
                            
														@if(item.Quantity>0){
														<a class="cart" asp-action="Add" asp-controller="Cart"
															asp-route-id="@item.Id">Add to Cart</a>
														}
														else
														{
															<a class="cart" style="background:#990000">Hết hàng</a>
														}

													</div>
												</div>
												<a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">
													<div class="why-text">
														<h4>@item.Name</h4>
														<h6>@item.Category.Name</h6>
														<h5> @item.Price <span>VND</span></h5>
													</div>
												</a>
											</div>
										</div>
									}
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="list-view">
								@foreach (var item in Model)
								{
									<div class="list-view-box">
										<div class="row">
											<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
												<div class="products-single fix">
													<div class="box-img-hover">
														<div class="type-lb">
															<p class="sale">Sale</p>
														</div>
														<img src="~/media/products/@item.Image" class="img-fluid custom-img" alt="@item.Name">
														<div class="mask-icon">
															<ul>
																<li>
																	<a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="right"
																	   title="View"><i class="fas fa-eye"></i></a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
												<div class="why-text full-width">
													<a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">
														<h4>@item.Name</h4>
														<h5>@item.Price <span>VND</span></h5>
														<h6 style="color: #000 !important">@Html.Raw(item.Description)</h6>
													</a>
														<a class="btn hvr-hover" asp-action="Add" asp-controller="Cart"
														   asp-route-id="@item.Id">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
				<!-- loc tim kiem o day -->
				@Html.Partial("_SidebarPartial")
			</div>
		</div>
	</div>
</div>
<!-- End Shop Page -->
<!-- Start Instagram Feed  -->
<div class="instagram-box">
	<div class="main-instagram owl-carousel owl-theme">
		<div class="item">
			<div class="ins-inner-box">
				<img src="images/instagram-img-01.jpg" alt="" />
				<div class="hov-in">
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="ins-inner-box">
				<img src="images/instagram-img-02.jpg" alt="" />
				<div class="hov-in">
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="ins-inner-box">
				<img src="images/instagram-img-03.jpg" alt="" />
				<div class="hov-in">
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="ins-inner-box">
				<img src="images/instagram-img-04.jpg" alt="" />
				<div class="hov-in">
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="ins-inner-box">
				<img src="images/instagram-img-05.jpg" alt="" />
				<div class="hov-in">
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="ins-inner-box">
				<img src="images/instagram-img-06.jpg" alt="" />
				<div class="hov-in">
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="ins-inner-box">
				<img src="images/instagram-img-07.jpg" alt="" />
				<div class="hov-in">
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="ins-inner-box">
				<img src="images/instagram-img-08.jpg" alt="" />
				<div class="hov-in">
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="ins-inner-box">
				<img src="images/instagram-img-09.jpg" alt="" />
				<div class="hov-in">
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="ins-inner-box">
				<img src="images/instagram-img-05.jpg" alt="" />
				<div class="hov-in">
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Instagram Feed  -->
@section Scripts {
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
	<script>
		$(document).ready(function() {
		    // Tạo format tiền VND
		    const formatter = new Intl.NumberFormat('vi-VN', {
		        style: 'currency',
		        currency: 'VND'
		    });

		    // Lấy giá trị từ URL parameters
		    function getUrlParameter(name) {
		        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
		        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
		        var results = regex.exec(location.search);
		        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
		    }

		    // Lấy giá trị startprice và endprice từ URL
		    const startPrice = parseInt(getUrlParameter('startprice')) || 5000;
		    const endPrice = parseInt(getUrlParameter('endprice')) || 30000;
		    // Lấy giá trị sort_by từ URL
		    const sortBy = getUrlParameter('sort_by');
		    $(function() {
		        $("#slider-range").slider({
		            range: true,
		            min: 5000,
		            max: 100000,
		            step: 5000,
		            values: [startPrice, endPrice], // Sử dụng giá trị từ URL
		            slide: function(event, ui) {
		                const minPrice = formatter.format(ui.values[0]);
		                const maxPrice = formatter.format(ui.values[1]);
		                $("#amount").val(minPrice + " - " + maxPrice);
		            }
		        });

		        // Format giá trị ban đầu sử dụng giá trị từ URL
		        const initialMin = formatter.format($("#slider-range").slider("values", 0));
		        const initialMax = formatter.format($("#slider-range").slider("values", 1));
		        $("#amount").val(initialMin + " - " + initialMax);
		    });
		    // Set selected sort option
		    if (sortBy) {
		        $('#sort_by').val(sortBy);
		    }
		    // code btn lọc giá sản phẩm
		    $('.btn-locgia').on('click', function() {
		        var url = $(this).data("current_url");
		        if (url) {
		            var params = new URLSearchParams();

		            // Add price filter parameters
		            params.set('startprice', $("#slider-range").slider("values", 0));
		            params.set('endprice', $("#slider-range").slider("values", 1));

		            // Maintain sort parameter if exists
		            if (sortBy) {
		                params.set('sort_by', sortBy);
		            }

		            window.location = url + "?" + params.toString();
		        }
		        return false;
		    });
		});
	</script>
	<script>
		$(document).ready(function() {
			$('#sort_by').on('change', function() {
				var sortValue = $(this).val();
				if (sortValue && sortValue !== '') {
				    // Get current URL parameters
				    var params = new URLSearchParams(window.location.search);

				    // Update or add sort_by parameter
				    params.set('sort_by', sortValue);

				    // Construct new URL
				    var newUrl = window.location.pathname + '?' + params.toString();

				    // Navigate to new URL
				    window.location.href = newUrl;
				}
			});
		});
	</script>

	<script>
		$(document).ready(function () {
			$('.cart').click(function (e) {
				e.preventDefault();
				var productId = $(this).data("id");

				$.ajax({
					type: "POST",
					url: "@Url.Action("AddToCart", "Cart")",
					data: { productId: productId },
					success: function (response) {
						if (response.success) {
							// Trigger custom event for React component
							const cartEvent = new CustomEvent('cartUpdated', {
								detail: {
									cartItems: response.cartItems
								}
							});
							window.dispatchEvent(cartEvent);

							Swal.fire("Thành công", "Sản phẩm đã được thêm vào giỏ hàng", "success");
						} else {
							Swal.fire("Lỗi", response.message || "Không thể thêm sản phẩm", "error");
						}
					},
					error: function () {
						Swal.fire("Lỗi", "Đã có lỗi xảy ra", "error");
					}
				});
			});
		});

					 function updateCartModal(cartItems) {
				var cartContent = '';
				if (cartItems && cartItems.length > 0) {
					cartItems.forEach(function (item) {
						cartContent += '<div class="cart-item">' +
										'<h6>' + item.Name + '</h6>' +
										'<p>' + item.Quantity + ' x ' + item.Price + ' VND</p>' +
										'</div>';
					});
				} else {
					cartContent = '<p>Giỏ hàng trống</p>';
				}

				$('#cart-items').html(cartContent);
			}
		});

			function updateCartModal(cartItems) {
				var cartContent = '';
				cartItems.forEach(function (item) {
					cartContent += '<div class="cart-item">' +
									'<h6>' + item.Name + '</h6>' +
									'<p>' + item.Quantity + ' x ' + item.Price + ' VND</p>' +
									'</div>';
				});

				$('#cart-items').html(cartContent);
			}
		});
	</script>
}