@model IEnumerable<CouponModel>
@{
	ViewData["title"] = "Danh sách phiếu giảm giá";
}

<div class="d-flex justify-content-between align-items-center mb-4">
	<h4>Danh sách phiếu giảm giá</h4>
	<a asp-action="Create" class="btn btn-primary">Thêm mới phiếu giảm giá</a>
</div>
<div style="overflow-x: auto;">
<table class="table table-striped" id="myTable">
	<thead>
		<tr>
			<th>Tên phiếu giảm giá</th>
			<th>Mô tả</th>
			<th>Giá trị</th>
			<th>Ngày bắt đầu</th>
			<th>Ngày hết hạn</th>
			<th>Số lượng</th>
			<th>Trạng thái</th>
			<th>Thời hạn</th>
			<th>Thao tác</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.Description</td>
				<td>@item.CouponValue%</td>
				<td>@item.DateStart.ToString("dd-MM-yyyy")</td>
				<td>@item.DateExpired.ToString("dd-MM-yyyy")</td>
				<td>@item.Quantity</td>
				<td>
					@(item.Status == 1 ? "Kích hoạt" : "Ẩn")
				</td>
				<td>
					@if (item.DateExpired < DateTime.Now)
					{
						<span class="text text-danger">Đã hết hạn</span>
					}
					else
					{
						TimeSpan remainingTime = item.DateExpired - DateTime.Now;
						int daysRemaining = remainingTime.Days;
						@if (daysRemaining == 0)
						{
							<span class="text text-danger">Hôm nay</span>
						}
						else
						{
							<span class="text text-success">@daysRemaining ngày còn lại</span>
						}
					}
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Sửa</a>
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"
					   onclick="return confirm('Bạn có chắc muốn xóa phiếu giảm giá này?')">Xóa</a>
				</td>
			</tr>
		}
	</tbody>
</table>
</div>